.song_page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: calc(100% - 240px);

  .controls {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .volume {
      position: absolute;
      top: 0;
      left: 0;
      .volume_control {
        flex-direction: column-reverse;
        height: 100px;
      }
      .volume_icon {
        position: absolute;
        left: -20px;
        top: calc(50% - 10px);
        @media screen and (max-width: 480px) {
          left: -10px;
        }
      }
    }
    .image_container {
      position: relative;

      &:hover {
        @media screen and (min-width: 768px){
          .song_image {
            filter: blur(3px);
          }
        }

        .play_button {
          border-left-color: rgba(255, 255, 255, 0.7);
          filter: drop-shadow(0 0 3px #ccc);
        }
      }

      .song_image {
        transition: filter 0.2s ease;
        width: 400px;
        height: 400px;
        border-radius: 1.25rem;
        @media screen and (max-width: 480px) {
          width: 200px;
          height: 200px;
        }
      }

      .play_button, .pause_button {
        position: absolute;
        top: calc(50% - 25px);
        left: calc(50% - 25px);
        transition: border-left-color 0.5s ease;
      }

      .play_button {
        width: 0;
        height: 0;
        border-left: 50px solid rgba(240, 240, 240, 0.7);
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
      }

      .pause_button {
        background: #fff;
      }
    }
  }


  .lyrics_card {
    width: 100%;

    .rabbit-lyrics {
      background: transparent;
      border: none;
      @media screen and (min-width: 480px) {
        height: 2rem;
        font-size: 1.8rem;
        line-height: 2rem;
      }
    }
  }


  .spinner_wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

